/*
Objectives:
- Refactor code.
- Improve classname methodology
- Remove IDs and attribute selector
*/
/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
		local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
		local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0.1s all ease-in-out;
}

html {
	box-sizing: border-box;
	font-size: 120%;
}

body {
	font-family: 'system', sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to left, #2193b0, #6dd5ed);
}

h2 {
	font: inherit;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}
a,
a:visited {
	color: inherit;
	font-size: inherit;
	position: absolute;
	margin: 0;
}
input[type='text'] {
	display: block;
	outline: none;
	background-color: inherit;
	color: inherit;
	border-style: none;
	font: inherit;
	padding: 0.5em;
	width: 100%;
	height: 2.5em;
	margin-top: 1em;
}

input[type='text']:focus,
input[type='text']:active {
	font-weight: bold;
	background: #ef9a9a;
	color: #ffcdd2;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
li::before {
	content: '- ';
}
/*Layout for mobile*/
.container {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 2rem 1rem;
	background: linear-gradient(-45deg, #ffebee, #ffcdd2);
	position: relative;
}

@media (min-width: 480px) {
	.container {
		max-width: 50%;
		min-height: 50%;
		max-height: 600px;
		overflow-y: scroll;
		margin: 10% auto 0 auto;
		box-shadow: 0px 5px 5px #000;
	}
	a {
		position: fixed;
		top: 5%;
		left: 95%;
		transform: rotate(45deg);
	}
}
@media (min-width: 1000px) {
	.container {
		max-width: 25%;
	}
}
